
    <li> <img src="images/s1.jpg" alt="image" class="etalage_thumb_image img-responsive"/> <img class="etalage_source_image img-responsive" src="images/s1.jpg"  title="" alt="image"  /> </li>
    <li> <img class="etalage_thumb_image img-responsive" src="images/s2.jpg" alt="image"  /> <img class="etalage_source_image img-responsive" src="images/s2.jpg"  title="" alt="image"  /> </li>
    <li> <img class="etalage_thumb_image img-responsive" src="images/s3.jpg" alt="image"   /> <img class="etalage_source_image img-responsive" src="images/s3.jpg" alt="image"  /> </li>
    <li> <img class="etalage_thumb_image img-responsive" src="images/s4.jpg" alt="image" /> <img class="etalage_source_image img-responsive" src="images/s4.jpg" alt="image" /> </li>
 