<car-header></car-header>
<div class="slide testimonials all-cars">
	  <br/>
	  <h1 class="title">MOT Testing</h1>
		<hr style="width:25%; margin:0 auto; border:1px solid #eaea06;"/>
	  	<div class="content-text">
	        <br/>
	        <div class="col-lg-12 container">
	        	<div class="col-lg-1">
	        	</div>
	        	<div class="col-lg-10 row row-centered">
	        		<div class="col-xs-2 col-centered">
	        		</div>
	        		<div class="col-xs-8 col-centered">
	        			<div class="form-field">
							<div class="col-xs-6 go-left">
								Contact Us<br/>
								<h4>
									01322 226766<br/>
									07813 988983<br/>
									<a href="#">
										www.wise-barclays.net
									</a>	
								</h4>
							</div>
	        			</div>
	        			<div class="form-field">
							<div class="col-xs-6 go-left">
								
							</div>
	        			</div>
	        		</div>
	        		<div class="col-xs-2 col-centered">
	        		</div>
	        	</div>
	        	<div class="col-lg-1">
	        	</div>
	        </div>
	        <div class="col-lg-12 container">
	        	<div class="col-lg-1">
	        	</div>
	        	<div class="col-lg-10 row row-centered">
	        		<div class="col-xs-2 col-centered">
	        		</div>
	        		<div class="col-xs-8 col-centered">
	        			<p class="lead text-justify">
	        				Our MOT servicing centre is appointed by the Driver and Vehicle Standards Agency (DVSA) to provide on site MOT vehicle testing and are completed by Driver and Vehicle Standards Agency testers.<br/>
							As an introductory price we are offering cheap MOT's which start at just £25. 
							We have a comfortable customer waiting area with refreshments available and a viewing window so you are able to watch your vehicle being tested.<br/>
							We offer customers free retests so in the event of any failed MOT test, we can carry out the necessary repairs in order to get your vehicle passed and road worthy.<br/>
							It is our goal to deliver the high standards of service to our clients for affordable prices.<br/>
							What we offer:<br/>
							<h4>
							<ul class="text-left list-group">
								<li class="list-group-item">Car & Van MOT Testing</li>
								<li class="list-group-item">Free Retests</li>
								<li class="list-group-item">All Failure Repairs Carried Out</li>
								<li class="list-group-item">Unbeatable Standards</li>
								<li class="list-group-item">6 Days a Week</li>
								<li class="list-group-item">Servicing Available</li>
							</ul>
						</h4>
	        			</p>
	        		</div>
	        		<div class="col-xs-2 col-centered">
	        		</div>
	        	</div>
	        	<div class="col-lg-1">
	        	</div>
	        </div>
		</div>
	</div>
