<car-header></car-header>
<div class="slide testimonials all-cars">
	  <br/>
	  <h1 class="title">Part Exchange</h1>
		<hr style="width:25%; margin:0 auto; border:1px solid #eaea06;"/>
	  	<div class="content-text">
	        <h3>
	        	Please fill your vehicle details for parts exchange. Fields marked with * are mandatory.
	        </h3>
	        <br/>
	        <div class="col-lg-12 container">
	        	<div class="col-lg-1">
	        	</div>
	        	<div class="col-lg-10 row row-centered">
	        		<div class="col-lg-2 col-centered">
	        		</div>
	        		<div class="col-lg-8 col-centered">
	        			<div class="form-field">
							<div class="col-lg-6 go-left">
								Make*
								<input placeholder="Eg. BMW, Alfa Romeo, etc." type="text" class="form-control"/>
							</div>
	        			</div>
	        			<div class="form-field">
							<div class="col-lg-6 go-left">
								Model
								<input placeholder="Eg. A2, X3, v1.2 etc" type="text" class="form-control"/>
							</div>
	        			</div>
	        			<div class="form-field">
							<div class="col-lg-6 go-left">
								Mileage
								<input placeholder="Enter mileage" type="text" class="form-control"/>
							</div>
	        			</div>
	        			<div class="form-field">
							<div class="col-lg-6 go-left">
								Condition
								<input placeholder="Enter condition" type="text" class="form-control"/>
							</div>
	        			</div>
	        			<div class="form-field">
							<div class="col-lg-6 go-left">
								Registration
								<input placeholder="Enter reg. year" type="text" class="form-control"/>
							</div>
	        			</div>
	        			<div class="form-field">
							<div class="col-lg-6 go-left">
								Additional details
								<textarea class="textarea form-control">Add information..</textarea>
							</div>
	        			</div>
	        		</div>
	        		<div class="col-lg-2 col-centered">
	        		</div>
	        	</div>
	        	<div class="col-lg-1">
	        	</div>
	        </div>

	        
	        <div class="col-lg-12 container">	        	
	        	<div class="col-lg-1">
	        	</div>
	        	<div class="col-lg-10 row row-centered">
        			<hr style="border: 1px solid black; width:25%; margin: 0 auto;"/>
		        	<h3>
			        	Please fill your contact details. Fields marked with * are mandatory.
			        </h3>
	        		<div class="col-lg-2 col-centered">
	        		</div>
	        		<div class="col-lg-8 col-centered">
	        			<div class="form-field">
							<div class="col-lg-6 go-left">
								Name*
								<input placeholder="Enter name" type="text" class="form-control"/>
							</div>
	        			</div>
	        			<div class="form-field">
							<div class="col-lg-6 go-left">
								Telephone
								<input placeholder="Enter phone no." type="text" class="form-control"/>
							</div>
	        			</div>
	        			<div class="form-field">
							<div class="col-lg-6 go-left">
								E-Mail
								<input placeholder="Enter e-mail" type="text" class="form-control"/>
							</div>
	        			</div>
	        			<div class="clearfix"></div>
	        			<div class="form-field">
							<div class="col-lg-6 go-left">
							</div>
	        			</div>
	        			<div class="form-field">
							<div class="col-lg-6 go-right">
								<button class="btn btn-primary btn-lg">Submit</button>
							</div>
	        			</div>
	        			<div class="form-field">
	        			</div>
	        		</div>
	        		<div class="col-lg-2 col-centered">
	        		</div>
	        	</div>
	        	<div class="col-lg-1">
	        	</div>
	        </div>
		</div>
	</div>
