<car-header></car-header>
<div class="slide testimonials all-cars">
	  <br/>
	  <h1 class="title">Car Servicing</h1>
		<hr style="width:25%; margin:0 auto; border:1px solid #eaea06;"/>
	  	<div class="content-text">
	        <br/>
	        <div class="col-lg-12 container">
	        	<div class="col-lg-1">
	        	</div>
	        	<div class="col-lg-10 row row-centered">
	        		<div class="col-xs-2 col-centered">
	        		</div>
	        		<div class="col-xs-8 col-centered">
	        			<p class="lead text-justify">
	        				We offer servicing on all makes and models of cars and vans, whether you are looking for a full or interim service.
							Car/Van Servicing
							Diagnostics
							Tyres
							Air Conditioning
							Mechanical Repairs
							Batteries
							Bodywork Repairs
							Valeting
							<br/>
							<h4>
							<ul class="text-left list-group">
								<li class="list-group-item">
									Car/Van Servicing
								</li>
								<li class="list-group-item">
									Diagnostics
								</li>
								<li class="list-group-item">
									Tyres
								</li>
								<li class="list-group-item">
									Air Conditioning
								</li>
								<li class="list-group-item">
									Mechanical Repairs
								</li>
								<li class="list-group-item">
									Batteries
								</li>
								<li class="list-group-item">
									Bodywork Repairs
								</li>
								<li class="list-group-item">
									Valeting
								</li>
							</ul>
						</h4>
	        			</p>
	        		</div>
	        		<div class="col-xs-2 col-centered">
	        		</div>
	        	</div>
	        	<div class="col-lg-1">
	        	</div>
	        </div>
		</div>
	</div>
